<div class="ui secondary pointing inverted menu navbar-margin-bottom">
  <a class="white item"> 
    {{#link-to "board"}} 
      <h1>Todo-Lists</h1>
    {{/link-to}}
  </a>
  <div class="right menu">
    <a class="ui item">
      {{#link-to "archive"}}
        <h4>Archived Todos</h4>
      {{/link-to}}
    </a>
  </div>
</div>

{{outlet}}